{%- set assignee= response.assignees | first -%}
Issue: #{{ response.iid }}
Title: {{ response.title }}
Assignee: {% if assignee -%}{{assignee.name}}{%- endif %}
State: {{ response.state }}
Labels: {{ response.labels | join(sep=", ")}}

Description:
{{ response.description }}
